page-splash {
    #memePollLogo {
        display: block;
        margin: auto;
        margin-top: 50px;
    }

    ion-spinner {
        top: 80px;
        display: block;
        margin: auto;
        width: 80px !important;
        height: 80px !important;
      }

      .scroll-content {
        margin-top: 56px;
        margin-bottom: 56px;
    }
}
