page-splash {
    #memePollLogo {
        display: block;
        margin: auto;
        margin-top: 50px;
    }

    ion-spinner {
        top: 80px;
        display: block;
        margin: auto;
        width: 80px !important;
        height: 80px !important;
      }
}
