<ion-header>
    <ion-navbar>
      <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
    <!-- <ion-title>
        <span id='navText'>MemePoll</span>
        <button *ngIf='false' ion-button (click)='signIn()' clear small float-right>Sign In</button>
        <button ion-button menuToggle='right' float-right>
        <ion-chip color='black' *ngIf='true' float-right> -->
            <!-- <ion-label>{{ apiProvider.githubUserInfo.login }}</ion-label> -->
            <!-- <ion-label>userName</ion-label>
          <ion-avatar> -->
           <!-- <img [src]="apiProvider.githubUserInfo.avatar_url" > -->
           <!-- <ion-icon name="contact"></ion-icon>
         </ion-avatar>
        </ion-chip>
      </button>
    </ion-title> -->

  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let p of pages">
          {{p.title}}
        </button>
      </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar position="bottom">
      <ion-segment [(ngModel)]="icons" color="secondary">
        <ion-segment-button value="1" (click)='toDashboard()'>
            <ion-icon name="home"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="2" (click)='toCategories()'>
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="3" (click)='toCategories()'>
            <ion-icon name="stats"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="4" (click)='toCategories()'>
            <ion-icon name="cash"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>